* 
{
    box-sizing: border-box;
}
  html, body
  {height: 100%;}

  body {
    font-size: 20px;
    text-align: center;
    /*background-color: #171717;*/
    line-height: 1.6;
    overflow: hidden;
    background-color: #e5e5f7;/*#e5e5f7*/
    opacity: 0.8;
    background-image: radial-gradient(#769FCD 0.5px, #F7FBFC 0.5px);
    background-size: 10px 10px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
  }
  

  #box {
    position: absolute;
    height: 80px;
    width: 140px;
    color: #272626 ;
    font-size: 100px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial";
    font-style: inherit;
    
  }


  
  