{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block div %}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='errors/errors.css')}}">


<div id="Error">
    <h1>401</h1>
    <h2>Unauthorized!</p>
</div>

<a href="/">
    <p>Click for home page..</p>
</a>



{% endblock div %}