html,
body {
  height: 100%;
  margin: 0;
  /* Ensure no margin around the body */
}

body {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  overflow: hidden;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#769FCD 1px, #F7FBFC 1px);
  background-size: 10px 10px;
}
@media (hover: none) {
  body {
      background-image: radial-gradient(#769fcd8e 3px, #F7FBFC 3px);
      background-size: 12px 12px;

  }
}

#apartment_sign {
  position: absolute;
  color: #272626;
  font-size: 25px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-style: inherit;
  transform-origin: center center;
  background-color: transparent;
}


#apartment_link {
  position: absolute;

  color: #272626;
  font-size: 25px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', monospace;

  font-style: inherit;
  transform-origin: center center;
  background-color: transparent;

}

.apartment_table {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apartment_monitor-wrapper {
  width: 100%;
  height: 100%;
  background: #272727;
  box-shadow: 0px 2px 2px 2px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.apartment_monitor {
  width: 90%;
  height: 90%;
  background-color: #e1ff0098;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.apartment_monitor p {
  font-size: 25px;
  position: absolute;
  color: #ffffff;
  white-space: nowrap;
}
